<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: dimgray;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      h1 {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
      }

      main {
        padding: 20px;
      }

      footer {
        background-color: dimgray;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      footer h1 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <header>
      <h3>STEVEN MARTY CES/N01639939</h3>
    </header>

    <main>
      {{{body}}}
    </main>
   

    <footer>
      <h3>N01639939@humber.ca</h3>
    </footer>
  </body>
</html>
